@charset "UTF-8";

body{
	margin: auto;
	width: 800px;
	color: white;
}
.eng {
	background-image: url("./England_bg.jpg");
	background-size: cover;
}
.fran {
	background-image: url("./France_bg.jpg");
	background-size: cover;
}
h2 { 
	text-align: center;
	font-size: 50px;
}
.flag {
	width: 600px;
	margin: auto;
}
.flag img { width: 100%; }

.photo {
	font-size: 30px;
	text-align: center;
	margin: 30px;
}

.photo img {
	width: 300px;
}

.info {
	width: 800px;
	height: 300px;
	background-color: skyblue;
	text-align: center;
}

.info ul {
	padding-top: 20px;
}

.info ul li {
	display: inline-block;
	width: 100px;
	font-size: 30px;

}
.info ul li:hover {
	color: red;
}

table {
	margin: 20px auto;
}

table tr td {
	border: 5px solid lightgrey;
	width: 200px;
	height: 200px;
}
.infoA {
	height: 70%;
	font-size: 30px;
	font-weight: bold;
	display:flex;
	justify-content: center;
	align-items: center;
}